.container {
    width: 100%;
}
.tv-canvas {
    border: 1px solid;
    width: 99%;
    height: 99%;
    position: relative;
}

.left {
    float: left;
    width: 70%;
}

.right {
    float: right;
}

.draggable {
    height: 10em;
    width: 10em;
}


.monster {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 10em 10em;
}

.monster1 {
    background-image: url('../images/monster_orange.png');
}

.monster2 {
    background-image: url('../images/monster_yellow.png');
}

.monster3 {
    background-image: url('../images/mosnter_green.png');
}

.monster4 {
    background-image: url('../images/monster_red.png');
}