.container {
    width: 100%;
}
.tv-canvas {
    border: 1px solid;
    width: 99%;
    height: 99%;
    position: relative;
    background-image: url('../images/living_room_tv.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 99% 99%;
    z-index: 0;
}

.left {
    float: left;
    width: 70%;
}

.right {
    float: right;
}

.draggable {
    height: 10em;
    width: 10em;
}


.monster {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 10em 10em;
    z-index: 1;
    display: inline-block;
}

.ui-loader {
    display: none;
}

.status {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 200px 60px;
    z-index: 1;
    background-image: url('../images/connect_off.png');
    position: absolute;
    top: 1em;
    right: 1.5em;
    width: 200px;
    height: 60px;
}


.monster1 {
    background-image: url('../images/monster_orange.png');
}

.monster2 {
    background-image: url('../images/monster_yellow.png');
}

.monster3 {
    background-image: url('../images/mosnter_green.png');
}

.monster4 {
    background-image: url('../images/monster_red.png');
}